<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/logo.svg" type="image/svg" />
    <title>Liste des articles</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script defer src="/assets/main.js"></script>
  </head>
  <body>
    <div class="layout">
      <%- include('../layout/header', {}); %>

      <section class="main">
        <main class="centered">
          <h1>Liste des articles</h1>
          <div class="table">
            <nav>
              <a href="/articles/add">
                <button>Ajouter</button>
              </a>
              <button class="suppress">Supprimer</button>
            </nav>
            <table>
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prix</th>
                  <th>Quantité</th>
                </tr>
              </thead>
              <tbody>
                <% articles.forEach(function(article){ %>
                <tr data-id="<%= article.id %>">
                  <td><%= article.name %></td>
                  <td><%= article.price %> €</td>
                  <td><%= article.qty %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </main>
      </section>
      <%- include('../layout/footer', {}); %>
    </div>
  </body>
</html>
